<tr>
  <td><%= myce.title %></td>
  <td><%= link_to 'Show', myce %></td>
  <td><%= link_to 'Edit', edit_myce_path(myce) %></td>
  <td><%= link_to 'Destroy', myce, method: :delete, data: { confirm: 'Are you sure?' } %></td>
</tr>